# ==============================
# Server Configuration
# ==============================
PORT=5000

# ==============================
# MongoDB Configuration
# ==============================
# Replace <DB_USER> with your MongoDB username
# Replace <DB_PASSWORD> with your MongoDB password
# Replace <DB_NAME> with your database name (e.g., vistavoyageDB)
DATABASE_URL="mongodb+srv://vista_db_user:EricOtieno?12@cluster0.84v5r6u.mongodb.net/?appName=Cluster0"

# ==============================
# Email Configuration (Gmail SMTP)
# ==============================
# EMAIL_USER should be your Gmail or business email
# EMAIL_PASS should be the Gmail App Password if 2FA is enabled
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=eo027007@gmail.com
EMAIL_PASS=EricO12
COMPANY_EMAIL=info@vistavoyagetravel.group

# ==============================
# Africa's Talking (SMS API) Configuration
# ==============================
# For sandbox/testing mode use these values
# Replace with live credentials when deploying
AT_USERNAME=sandbox
AT_API_KEY="atsk_016fe630918b69475f046429ae0c305d85cc6e8cb359da6ec70b8ef8f6feede90fe6bbe9"
AT_SHORTCODE=VISTAVOYAGE